
#container-contatti {
    padding-top: 20px;
}

h2{
    font-weight: bold;
}

h4, a{
    color: white;
    margin-bottom: 30px;
}

#link{
    font-size: 50px;
    font-family: 'Bad Script', cursive;
}

#messaggio{
    height: 120px;
}

#container-dettagli-contatti {
    color: var(--verde-nav);
    padding: 30px;
    margin-left: -12px;
    margin-right: -12px;
    text-align: center;
}

#container-form-contatti {
    background-color: var(--verde-nav);
    padding: 70px;
    margin-left: -36px;
    margin-right: -36px;
    text-align: center;
}

#container-maps {
    margin-left: -12px;
    margin-right: -12px;
    top: 300px;

}

#social-link {
    font-size: 30px;
    color:var(--verde-nav);
    margin: 20px;
}

#social-link:hover {
    font-size: 30px;
    color: var(--verde-navtrasp);
    margin: 20px;
}

#btn-invia{
    background-color:var(--verde-body);
    padding-right: 30%;
    padding-left: 30%;
    color: var(--verde-nav);
}

h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }