<div id="footer" class="container-fluid footer">

    <div id="footer" class="container-fluid footer">

        <div id="testo-footer">
            <img src="../../../assets/immagini/900_coming soon (1) (1).png" id="logocompleto900" alt="logo_900">
            <p id="social"><a id="social-link" href="https://www.facebook.com/novecentoportosangiorgio"
                    target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a id="social-link" href="https://www.instagram.com/caffeboutiquenovecento/?igshid=YmMyMTA2M2Y%3D"
                    target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a id="social-link" href="tel:+393491277983" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </p>
            <p><a id="posizione"
                    href="https://www.google.fr/maps/place/Caffe'+Novecento/@43.179615,13.7966981,19.25z/data=!4m15!1m8!3m7!1s0x13321160f19bde8f:0x1f0e6d14d3f5273f!2sPiazza+Giacomo+Matteotti,+1,+63822+Porto+San+Giorgio+FM,+Italia!3b1!8m2!3d43.1796554!4d13.7969067!16s%2Fg%2F11c5lsvbjv!3m5!1s0x13321160f3cca217:0x8761720324cf0b79!8m2!3d43.179303!4d13.7968082!16s%2Fg%2F11xs834s0"
                    target="_blank">Piazza G.Matteotti 1-3</a></p>
            <a id="posizione">Porto San Giorgio (FM)</a>
        </div>

    </div>

</div>