<div id="container-form" class="container mt-5">

<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name ="userName" class="form-control" id="username" placeholder="Username" [(ngModel)]="loginObj.userName">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name ="password" [(ngModel)]="loginObj.password" placeholder="Password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark" (click)="onLogin()">Log In</button>
  </form>

</div>